<div class="modal-header">
  <h5 class="modal-title">Editar Préstamo</h5>
  <button type="button" class="close-button" (click)="onClose()">
    <i class="pe-7s-close"></i>
  </button>
</div>

<div class="modal-body">
  <form [formGroup]="prestamoForm">
    <div class="form-group">
      <label for="lector">Lector:</label>
      <input type="text" class="form-control" id="lector" formControlName="lector" placeholder="Ingrese el nombre del lector">
    </div>

    <div class="form-group">
      <label for="bibliografia">Bibliografía:</label>
      <input type="text" class="form-control" id="bibliografia" formControlName="bibliografia" placeholder="Ingrese la bibliografía">
    </div>

    <div class="form-group">
      <label for="fechaSolicitud">Fecha de Solicitud:</label>
      <input type="date" class="form-control" id="fechaSolicitud" formControlName="fechaSolicitud">
    </div>

    <div class="form-group">
      <label for="estado">Estado:</label>
      <select class="form-control" id="estado" formControlName="estado">
        <option *ngFor="let estado of estados" [value]="estado">{{estado}}</option>
      </select>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="onClose()">Cancelar</button>
  <button type="button" class="btn btn-primary" (click)="onSave()" [disabled]="!prestamoForm.valid">Guardar</button>
</div> 